<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Incidenti</title>
</head>
<body>
    <h1>Dashboard Incidenti</h1>

    <h2>Grafico Tipologia</h2>
    <img src="{{ url_for('static', filename='grafico_tipologia.png') }}" alt="Grafico Tipologia"><br><br>

    <h2>Grafico Gravità</h2>
    <img src="{{ url_for('static', filename='grafico_gravita.png') }}" alt="Grafico Gravità"><br><br>

    <h2>Grafico per Anno</h2>
    <img src="{{ url_for('static', filename='grafico_anno.png') }}" alt="Grafico Anno"><br><br>

    <a href="/">🔙 Torna alla Home</a>
</body>
</html>
